/* ==========================================================================
   Five Columns
   ========================================================================== */

	
.span_5_of_5 {
	width: 100%;
	/*text-align: center;*/
    /*padding: 10% 0;*/
	/*background: rgba(47, 99, 106, .7);*/
    /*--------------------------*/
    /*position: relative;*/
    /*top: 47%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.span_4_of_5 {
  	width: 79.4%;
  	/*text-align: center;*/
    /*padding: 10% 0;*/
  	/*background: rgba(47, 99, 106, .7);*/
    /*--------------------------*/
    /*position: relative;*/
    /*top: 47%;*/
    /*left: 39.7%;*/
    /*transform: translate(-50%, -50%);*/
}

.span_3_of_5 {
  	width: 58.8%;
  	/*text-align: center;*/
    /*padding: 10% 0;*/
  	/*background: rgba(47, 99, 106, .7);*/
    /*--------------------------*/
    /*position: relative;*/
    /*top: 47%;*/
    /*left: 29.4%;*/
    /*transform: translate(-50%, -50%);*/
}

.span_2_of_5 {
  	width: 38.2%;
  	/*text-align: center;*/
    /*padding: 10% 0;*/
  	/*background: rgba(47, 99, 106, .7);*/
    /*--------------------------*/
    /*position: relative;*/
    /*top: 47%;*/
    /*left: 19.1%;*/
    /*transform: translate(-50%, -50%);*/
}

.span_1_of_5 {
  	width: 17.6%;
  	/*text-align: center;*/
    /*padding: 10% 0;*/
  	/*background: rgba(47, 99, 106, .7);*/
    /*--------------------------*/
    /*position: relative;*/
    /*top: 47%;*/
    /*left: 8.8%;*/
    /*transform: translate(-50%, -50%);*/
}

.span_1_of_5 img
{
  	/*width: 100%;*/
  	/*z-index: -1;*/
    /*position: relative;*/
}

.span_2_of_5 img
{
  	/*width: 100%;*/
  	/*z-index: -1;*/
    /*position: relative;*/
}

.span_3_of_5 img
{
  	/*width: 100%;*/
  	/*z-index: -1;*/
    /*position: relative;*/ 
}

.span_4_of_5 img
{
  	/*width: 100%;*/
  	/*z-index: -1;*/
    /*position: relative;*/
}

.span_5_of_5 img
{
  	/*width: 100%;*/
  	/*z-index: -1;*/
    /*position: relative;*/
}


/* ==========================================================================
   Go Full Width When Less Than 480 Pixels
   ========================================================================== */

@media only screen and (max-width: 480px) {
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
}