* {
    margin: 0;
    padding: 0;
    border: 0;
    /*box-sizing: border-box;*/
}
/****************/

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}
/****************/

body {
    /*font: 62.5%/1.5  "Exo 2", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; */
    
    font: 125%/1.5em "Exo 2", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
    color: #aaaaaa;
    /*text-align: center; */
    /*background: #2a2a2a;*/
}

#wrapper {
    width: 980px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
/****************/

h1 {
    font-size: 2.2em;
    text-shadow: 2px 2px 0 #222222;
    text-align: center;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
    text-shadow: 2px 2px 0 #222222;
    text-align: center;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 0.9em;
    padding: 3% 0;
}

ul {
    /*list-style-type: none;*/
    
    padding: 3% 3% 3% 5%;
    margin: 0;
    text-align: center;
}

ul li {
    padding-left: 0;
    text-align: left;
}

a {
    text-decoration: none;
}

.p2 {
    /*font-size: 1.2em;     */
    
    font-size: 0.7em;
    padding: 0.5% 3% 3% 0;
    text-align: left;
}
/****************/

input.text {
    padding: 3px;
    border: 1px solid #999999;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: left;
    font-weight: normal;
}
/****************/

#section0 {
    background-image: url(../images/images-small/space-2.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-position: center;*/
    /*border-bottom: .2em solid #8B1A1A;*/
    
    border-bottom: .2em solid rgba(0, 0, 0, 0.9);
    padding: 0 0 6% 0;
}

#section0 h1 {
    font-size: 3em;
    position: absolute;
    top: 35%;
    width: 100%;
    -webkit-animation: text_drop 3.5s forwards;
    /* Chrome, Safari, Opera */
    
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    
    animation: text_drop 3.5s forwards;
    animation-delay: 1s;
    animation-iteration-count: 1;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes text_drop {
    from {
        top: 35%;
    }
    to {
        top: 45%;
    }
}

@keyframes text_drop {
    from {
        top: 35%;
    }
    to {
        top: 45%;
    }
}

.arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -14px;
    width: 30px;
    height: 30px;
    background-image: url(../images/arrow.png);
    background-size: contain;
    z-index: 1;
}

#section1 {
    background: linear-gradient( rgba(48, 48, 48, 0.65), rgba(48, 48, 48, 0.65)), url(../images/images-small/martin-luther-king.jpg);
    border-bottom: .15em solid rgba(0, 0, 0, 0.9);
    padding: 0 0 10% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-position: center;*/
}

#section2 {
    background-color: rgba(0, 0, 139, 0.3);
    background-image: linear-gradient(90deg, transparent 98%, rgba(0, 70, 100, 0.3) 50%);
    background-size: 50px 50px;
    border-bottom: .15em solid rgba(0, 0, 0, 0.9);
}

#section3 {
    background: linear-gradient( rgba(139, 69, 19, 0.93), rgba(139, 69, 19, 0.93)), url(../images/images-small/coffee-shop.jpg);
    /*background-position: top center;*/
    
    border-bottom: .15em solid rgba(0, 0, 0, 0.9);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -moz-transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
}

#section3:hover {
    background-position: top right;
}

#section4 {
    background: linear-gradient( rgba(48, 48, 48, 0.4), rgba(48, 48, 48, 0.4)), url(../images/images-small/boulder-hike.jpg);
    /*background: url(../images/boulder-hike2.jpg);*/
    
    border-bottom: .15em solid rgba(0, 0, 0, 0.9);
    /*background-size: 100% 100%;*/
    /*padding: 0 0 12% 0;*/
    
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#section5 {
    background: linear-gradient( rgba(50, 0, 10, .88), rgba(50, 0, 10, .88)), url(../images/images-small/beats.jpg);
    /*background-position: top center;*/
    
    background-size: 100% auto;
    padding: 0 0 3% 0;
    border-bottom: .15em solid rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
/*#section5:hover {*/
/*animation-name: resize;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  animation-direction: alternate;*/
/*animation-timing-function: ease-in-out;*/
/*}*/

@keyframes resize {
    0% {
        /*padding: 0 0 6% 0;*/
        
        background-size: 100% auto;
    }
    50% {
        /*padding: 1% 0 7% 0;*/
        
        background-size: 101% auto;
        /*transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);*/
    }
    100% {
        /*padding: 0 0 6% 0;*/
        
        background-size: 100% auto;
    }
}

#section6 {
    background-color: #2a2a2a;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, .05) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, .06) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .03) 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .04) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
/****************/

.content {
    line-height: 1.5em;
    font-size: 0.8em;
    padding: 0.5% 3% 3% 3%;
    text-align: left;
}

.title {
    font-size: 0.9em;
    padding: 0.5% 3% 2% 3%;
    text-align: left;
}

.skills-title {
    font-size: 1.2em;
}

.image {
    position: relative;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.summary {
    color: #DDDDDD;
    padding: 0 0 3% 0;
}

.background-block {
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.7);
    padding: 1% 1% 1% 1%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.background-block-cols {
    /*background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;*/
    
    background: rgba(0, 0, 0, 0.75);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 8%;
}

.header {
    font-size: 0.9em;
    padding: 3% 0 1% 0;
}

.pad-right-top {
    padding-right: 1%;
    padding-top: 10%;
    width: 100% !important;
}
/******************/

#menu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 5;
    /*bottom: 0;*/
    
    top: 0;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 8px 0 8px 0;
}

#menu ul {
    padding: 0 40px;
    text-align: right;
}

#menu li a {
    display: block;
    /*margin: 0 22px 0 0;*/
    /*color: #333;*/
    
    color: #aaaaaa;
}

#menu li a:hover {
    text-decoration: underline;
}

#menu li {
    display: inline-block;
    position: relative;
}

#menuList {
    display: none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*padding: 20px;*/
    
    padding: 30%;
    float: left;
    position: absolute;
    /*bottom: 29px;*/
    
    right: 0;
    width: 100px;
    text-align: left;
}

#menuList ul {
    padding: 0;
}

#menuList ul li {
    display: block;
    margin: 5px 0;
}

#menuList ul li a {
    color: #BDBDBD;
    margin: 0;
}

#menuList ul li a:hover {
    color: #f2f2f2;
}

#menuList .column {
    float: left;
    margin: 0 20px 0 0;
}

#menuList h3 {
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}
/***************/


@media only screen and (max-width: 899px) {
    .arrow {
        bottom: 87%;
    }
    .col.span_2_of_2.pad-right-top,
    .col.span_1_of_2.pad-right-top {
        width: 100%;
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    }
    .col.span_2_of_2,
    .col.span_1_of_2 {
        width: 100%;
        display: block;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .background-block-cols {
        margin-top: 8%;
        width: 100%;
        display: block;
    }
}
