
*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}
/****************/

.clear 
    { 
    clear: both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}
/****************/

body 
    { 
   	/*font-family: "Exo 2", sans-serif;*/
    /*font: 62.5%/1.5  "Exo 2", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; */
    font: 125%/1.5em  "Exo 2", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
    /*background: url(/images/wallpaper.png) repeat; */
    color: #aaaaaa;   
    /*text-align: center; */
    /*background: #2a2a2a;*/
} 

#wrapper 
    {  
    width: 980px;  
    text-align: left;   
    margin-left: auto;  
    margin-right: auto;  
    background-color: #FFFFFF; 
}
/****************/


h1 
    { 
    font-size: 2.2em;
    text-shadow: 2px 2px 0 #222222;
    text-align: center;
} 

h2 
    { 
    font-size: 2.0em;     
} 

h3 
    { 
    font-size: 1.8em;
    text-shadow: 2px 2px 0 #222222;
    text-align: center;
}

h4 
    { 
    font-size: 1.6em;     
} 

h5 
    { 
    font-size: 1.4em;     
} 

p 
    { 
    /*font-size: 1.2em;     */
    font-size: 0.9em;
    padding: 3% 0;
}

ul {
    /*list-style-type: none;*/
    padding: 3% 3% 3% 5%;
    margin: 0;
    text-align: center;
}

ul li {
    /*background-image: url(sqpurple.gif);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0px center; */
    padding-left: 0; 
    text-align: left;
    /*font-size: 0.7em;*/
    /*line-height: 1.5em;*/
}

.p2
    { 
    /*font-size: 1.2em;     */
    font-size: 0.7em;
    padding: 0.5% 3% 3% 0;
    text-align: left;
}

/****************/


input.text 
  { 
  padding: 3px; 
  border: 1px solid #999999;     
}

table 
  {  
  border-spacing: 0; 
  border-collapse: collapse; 
} 

td  
  { 
  text-align: left; 
  font-weight: normal; 
}
/****************/


#section0 {
	background-image: url(../images/space-2.jpg);
	/*padding: 30% 0 0 0;*/
	background-size: 100% 100%;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
	border-bottom: .2em solid #8B1A1A;
	/*min-height: 100%;*/
	/*height: auto;*/
	padding: 0 0 6% 0;
}

#section0 h1 {
	font-size: 3em;
	position: absolute;
	top: 39%;
	width: 100%;
	-webkit-animation: text_drop 3.5s forwards ; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation: text_drop 3.5s forwards;
    animation-delay: 1s;
	animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes text_drop {
    /*from {top: 47%;}
    to {top: 54%;}*/
    from {top: 39%;}
    to {top: 49%;}
}

@keyframes text_drop {
    from {top: 39%;}
    to {top: 49%;}
}

#section1 {
	/*background-image: url(../images/martin-luther-king.jpg);
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
  background: 
    linear-gradient(
      rgba(48,48,48, 0.65), 
      rgba(48,48,48, 0.65)
    ),
    url(../images/martin-luther-king.jpg);
    border-bottom: .15em solid rgba(0, 0, 0, 0.9);
}

#section2 {
	/*background-color: gray;*/
	/*background-color: rgba(0,255,0,0.3);*/
	background-color: rgba(0,0,139,0.3);
	/*background-image: linear-gradient(90deg, transparent 99%, rgba(255,255,255,0.5) 50%);*/
	background-image: linear-gradient(90deg, transparent 99%, rgba(0,70,100,0.3) 50%);
	background-size: 50px 50px;
	/*border-bottom: .15em solid #528B8B;*/
	border-bottom: .15em solid rgba(0, 0, 0, 0.7);
}

#section3 {
  background: 
    linear-gradient(
      rgba(139,69,19, 0.95), 
      rgba(139,69,19, 0.95)
    ),
    url(../images/coffee-shop.jpg);
    background-position: top center;
    background-size: 120% 120%;
    /*border-bottom: .15em solid #00008B;*/
    border-bottom: .15em solid rgba(0, 0, 0, 0.7);
	/*-webkit-transition-timing-function: background cubic-bezier(0.42,0,0.58,10);
	transition-timing-function: background cubic-bezier(0.42,0,0.58,10);*/

	/*background-position: top center;
	background-image:url(../images/coffee-shop.jpg);
	min-height: 100%;
	height: auto;
	padding: 6%;
	margin: 0 auto;
	text-align: left;
	border-bottom: 5px solid #bfc297;*/
	/*-moz-transition: all 3s ease-in-out;
	-webkit-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;*/

	-moz-transition: 3s ease-in-out;
	-webkit-transition: 3s ease-in-out;
	transition: 3s ease-in-out;
}

#section3:hover{
 background-position: top right;
}

#section4 {
  background: 
    linear-gradient(
      rgba(0,75,0, .9), 
      rgba(0,75,0, .9)
    ),
    url(../images/hip-hop.jpg);
    /*background-position: top center;*/
    background-size: 100% 100%;
    padding: 0 0 7% 0;
    border-bottom: .15em solid rgba(0, 0, 0, 0.7);
}

#section4:hover{
 	animation-name: resize;
	animation-duration: 0.2s;
	animation-iteration-count: 3;
	animation-direction: alternate;
	/*animation-timing-function: ease-in-out;*/
}

@keyframes resize {
  0% {
  	/*padding: 0 0 6% 0;*/
  	/*padding: 0;*/
  	background-size: 100% 100%;
    
  }
  50% {
  	/*padding: 1% 0 7% 0;*/
    /*padding: 0 20px;*/
    /*background-color:rgba(255,0,0,0.2);*/
    background-size: 101% 101%;
  }
  100% {
    /*padding: 0 0 6% 0;*/
    /*background-color:rgba(255,0,0,0.9);*/
    background-size: 100% 100%;
  }
}

#section5{
	background-color:#556;
background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #222 25%, transparent 25.5%, transparent 75%, #99a 75%, #222), 
linear-gradient(60deg, #222 25%, transparent 25.5%, transparent 75%, #99a 75%, #222);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;

/*background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);*/

/*background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #8B1A1A 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;*/
}

/****************/

.content {
	/*padding: 3% 3%;*/
	/*font: 62.5%/1.5em  "Exo 2", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;*/
	line-height: 1.5em;
	font-size: 0.7em;
    padding: 0.5% 3% 3% 3%;
    text-align: left;
}

.title
    { 
    font-size: 0.8em;
    padding: 0.5% 3% 2% 3%;
    text-align: left;
    
}

.right-border {
    border-right: 1px solid #aaaaaa;
}

.image { 
   position: relative; 
   /* for IE 6 */
   width: 100%; 
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   /*color: white; */
   /*font: bold 24px/45px Helvetica, Sans-Serif; */
   font: bold 40%/60% Helvetica, Sans-Serif; 
   /*letter-spacing: -1px;  */
   background: rgb(0, 0, 0); /* fallback color */
   /*background: rgba(0, 0, 0, 0.7);*/
   background: rgba(0, 0, 0, 0.8);
   padding: 1%; 
}

.summary 
    { 
    color: #dddddd;
    padding: 0 0 3% 0;
}

.background-block {
	font-size: 0.9em;
	background: rgba(0, 0, 0, 0.7);
	padding: 1% 1% 1% 1%;
}
